header{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(209, 147, 76);
    border: 4px solid black;
    border-radius: 50px;
}

body{
    font-family: Arial, sans-serif;
    background-color: white;
}


