main{
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
    background-color: rgb(201, 201, 201);
    border: 2px solid black;
    border-radius: 20px;  
}

h2{
    text-align: center;
    background-color: rgb(209, 147, 76);
    border: 1px solid black;
    border-radius: 10px;
}

p {
    font-size: 1.2em;
}
li {
    font-size: 1.1em;
}

footer{
        background-color: rgb(155, 126, 73);
}
