div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    padding: 20px;
    text-align: center;
    border: 4px solid black;
    border-radius: 25px;
    background: linear-gradient(80deg, yellow, rgb(255, 102, 0)    );
}